<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab.davidahn.appshuttle"
    android:versionCode="5"
    android:versionName="0.9.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="lab.davidahn.appshuttle.AppShuttleApplication"
        android:allowBackup="true"
        android:icon="@drawable/appshuttle"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="lab.davidahn.appshuttle.view.AppShuttleMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lab.davidahn.appshuttle.view.SettingsActivity" >
        </activity>

        <service android:name="lab.davidahn.appshuttle.AppShuttleMainService" />
        <service android:name="lab.davidahn.appshuttle.collect.CollectionService" />
        <service android:name="lab.davidahn.appshuttle.collect.CompactionService" />
        <service android:name="lab.davidahn.appshuttle.context.bhv.UnregisterBhvService" />
        <service android:name="lab.davidahn.appshuttle.report.ReportService" />
        <service android:name="lab.davidahn.appshuttle.predict.PredictionService" />

        <receiver android:name="lab.davidahn.appshuttle.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="lab.davidahn.appshuttle.PackageRemovedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>